/* 서브비쥬얼영역 시작 */
section#sub_visual{
    width: 100%;
    height: 380px;
    position: relative;
    left: 0px;
    top: 0px;
}
h2.sub_visual_title{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 80px;
    font: 600 3.75em 'Pretendard';
    color: #ffffff;
    text-align: center;
    z-index: 2;
}
#subVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
/* 서브비쥬얼영역끝 */

/* 컨텐츠영역시작 */
div#access_wrap{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
div.access{
    width: 450px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    text-align: center;
    border-radius: 8px;
}
.icon_box{
    width: 50px;
    height: 50px;
    background-color: #ACB66D; 
    font: bold 30px 'Pretendard';
    color: #fff;
    border-radius: 4px; 
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.access_title {
    font: normal 24px 'Pretendard';
    color: #000;
    margin-bottom: 40px;
}
.access_title span {
    font-weight: 600;
    color: #8d974e; 
}
.access_text {
    font: normal 16px 'Pretendard';
    color: #333333;
    padding: 20px 0px;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
}
.btn_box {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 30px;
}
.btn_box .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
    color: #fff;
    width: 120px;
    padding: 15px 15px;
    font: 500 16px 'Pretendard';
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn_box .btn:hover {
    opacity: 0.8;
}


/* 컨텐츠영역 끝 */


