/* 서브비쥬얼영역 시작 */
section#sub_visual{
    width: 100%;
    height: 380px;
    position: relative;
    left: 0px;
    top: 0px;
}
h2.sub_visual_title{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 80px;
    font: 600 3.75em 'Pretendard';
    color: #ffffff;
    text-align: center;
    z-index: 2;
}
#subVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
/* 서브비쥬얼영역끝 */


/* 컨텐츠영역시작 */
main#contents_wrap{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
section.section_inner{
    width: 1416px;
    height: 100%;
    margin-top: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h2.title{
    font: bold 2.375em 'Pretendard';
    color: #ACB66D;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 120px;
}
h2.title::after{
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #ACB66D;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -6px;
}

/* 원훈 및 교육목표 */
div#motto_goals{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    box-sizing: border-box;
    margin-bottom: 16vw;
}
h3.intro_content_title{
    font: bold 2.375em 'Pretendard';
    text-align: center;
    color: #333333;
    margin-bottom: 4%;
}
p.motto_title{
    width: 100%;
    height: auto;
    font: bold 5.625em 'Pretendard';
    text-align: center;
    color: #643206;
}
div#goals_wrap{
    width: 100%;
    height: 48.19%;
}
ul.goals_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
ul.goals_list li{
    width: 28.24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.goal_item_title{
    width: 76.25%;  
    height: 14%;
    background-color: #E7EDE8;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.goals_list li:nth-child(2) .goal_item_title {
    background-color: #F8DFBE;
}
.goals_list li:nth-child(3) .goal_item_title {
    background-color: #CDD3A7;
}
.goal_item_title h4{
    font: 500 1.5em 'Pretendard';
    text-align: center;
}
.goal_item_box{
    width: 97.5%;
    height: 80.5%;
    border: solid 2px #716A6A;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.goal_item_box p{
    font: normal 1.875em/1.66em 'Pretendard';
}
/* 원훈 및 교육목표 */

/* 원목 및 원화 */
div#snd_symbol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding: 0% 2%;
    box-sizing: border-box;
    margin-bottom: 16vw;
}
div#symbol_box_wrap{
    width: 100%;
    height: 549px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.symbol_box{
    width: 49.15%;
    height: 100%;
}
.symbol_box img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.symbol_box p{
    font: normal 1.5em/1.66em 'Pretendard';
}
.symbol_box p:nth-child(3){
    color: #919191;
}
/* 원목 및 원화 */

/*로고*/
div#logo_info{
    width: 100%; 
    height: 750px;
    padding: 0% 2%;
    box-sizing: border-box;
    margin-bottom: 16vw;
}
div#logo_info_box{
    width: 100%;
    height: 100%;
    border: solid 2px #716A6A;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#logo_info img{
    width: 470px;
    height: auto;
}
#logo_info p{
    font: normal 1.5em/1.66em 'Pretendard';
    color: #333333;
    text-align: center;
}
/*로고*/

/*원가*/
div#snd_song{
    width: 100%;
    height: 750px;
    padding: 0% 2%;
    box-sizing: border-box;
    margin-bottom: 16vw;
}
div#snd_song_box{
    width: 100%;
    height: 100%;
    border: solid 2px #716A6A;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#snd_song_box p{
    font: normal 1.5em/1.66em 'Pretendard';
    color: #333333;
    text-align: center;
}
#snd_song_box p span{
    display: block;
    color: #8B9A2C;
}
button#song_download_btn{
    width: 170px;
    height: 65px;
    border: solid 2px #000000;
    border-radius: 65px;
    background-color: #ffffff;
    font: 500 14px/27px 'Pretendard';
    cursor: pointer;
}
/*원가*/

/* 백그라운드 이미지 */
div#bottom_img{
    width: 100vw;
    height: 380px;
    background: url('/snd_kindergarten/images/sub_images/sub_bottom_img.png') no-repeat center;
    background-size: cover;
}
/* 컨텐츠영역 끝 */



/* 반응형 */
@media screen and (max-width:1280px){
    main#contents_wrap{
        font-size: 14px;
    }
    div#motto_goals{
        height: 64.84vh;
    }
}
@media screen and (max-width:980px){
    main#contents_wrap{
        font-size: 12px;
    }
    div#snd_symbol{
        margin-bottom: 0vw;
    }
}
/* 반응형 */