/* 서브비쥬얼영역 시작 */
section#sub_visual{
    width: 100%;
    height: 380px;
    position: relative;
    left: 0px;
    top: 0px;
}
h2.sub_visual_title{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 80px;
    font: 600 3.75em 'Pretendard';
    color: #ffffff;
    text-align: center;
    z-index: 2;
}
#subVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
/* 서브비쥬얼영역끝 */


/* 컨텐츠영역시작 */
main#contents_wrap{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
section.section_inner{
    width: 1416px;
    height: 100%;
    padding: 8% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
h2.title{
    font: bold 2.375em 'Pretendard';
    color: #ACB66D;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}
h2.title::after{
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #ACB66D;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -6px;
}
div.location_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h3.sub_title{
    font: bold 2.375em 'Pretendard';
    color: #333333;
    text-align: center;
    margin-bottom: 8%;
}

div.location_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#map{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
}
.location_container img{
    width: 100%;
    height: auto;
}
div.address_info{
    width: 100%;
    max-width: 1200px;
    font: 400 1.5em/1.66em'Pretendard';
    color: #333;
    margin-top: 50px;
}
.address_info strong{
    font-weight: 500;
    background-color: #EAF0BF;
    padding: 2px 6px;     
}
div.address_info span{
    color: #E94035;
}
/* 컨텐츠영역 끝 */



/* 반응형 */
@media screen and (max-width:1280px){
   main#contents_wrap{
    font-size: 14px;
   }
}
@media screen and (max-width:980px){
   main#contents_wrap{
    font-size: 12px;
   }
}
/* 반응형 */
