/* 서브비쥬얼영역 시작 */
section#sub_visual{
    width: 100%;
    height: 380px;
    position: relative;
    left: 0px;
    top: 0px;
}
h2.sub_visual_title{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 80px;
    font: 600 3.75em 'Pretendard';
    color: #ffffff;
    text-align: center;
    z-index: 2;
}
#subVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
/* 서브비쥬얼영역끝 */


/* 컨텐츠영역시작 */
main#contents_wrap{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
section.section_inner{
    width: 1416px;
    height: 100%;
    padding: 8% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
h2.title{
    font: bold 2.375em 'Pretendard';
    color: #ACB66D;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}
h2.title::after{
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #ACB66D;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -6px;
}
div.teachers_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h3.sub_title{
    font: bold 2.375em 'Pretendard';
    color: #333333;
    text-align: center;
    margin-bottom: 8%;
}

/* grid: 3열 3행  */
div.teachers_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    margin-bottom: 60px;
    justify-items: center;
}

/* grid(마지막줄) 1열 4행  */
div.last_row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* 공통 아이템 */
.teacher_item{
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.teacher_item img{
    width: 100%;
    height: auto;
    background-color: #d0d4d8; 
    object-fit: contain;
}
.teacher_name {
    background-color: #FCEFDF;
    font: 400 1.5em/1.66em 'Pretendard';
    text-align: center;
}
/* 컨텐츠영역 끝 */



/* 반응형 */
@media screen and (max-width:980px){
    main#contents_wrap{
        font-size: 12px;
    }
}
@media screen and (max-width:1280px){
    main#contents_wrap{
        font-size: 14px;
    }
    .teacher_item {
        width: 80%;
    } 
}

/* 반응형 */