/* 기본설정시작 */
body,html{
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
}
.hidden{
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    position: absolute;
}
/* 기본설정끝 */
/* 상단영역시작 */
header{
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
h1#logo{
    width: 150px;
    height: 36px;
    background: url('/snd_kindergarten/images/logo_sinnanda.svg') no-repeat; 
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
h1#logo a{
    font: 500 16px/22px 'Pretendard';
    color: white;
}
.mobilemenu_icon{
    width: 48px; 
    height: 48px; 
    background: #AFB678 url('/snd_kindergarten/mobile/images/menubar.png') no-repeat center;
    position: absolute; 
    top: 0px; 
    right: 0px; 
    overflow: hidden;
}
nav#mobilemenu{
    width: 80vw;
    height: 100vh;
    background: #AFB678;
    position: absolute;
    top: 0px;
    right: -80vw;
    overflow: scroll;
    z-index: 10;
    display: none;
}
div#mobilemenu_inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
div#mobilemenu_inner p{
    width: 100%;
    height: 150px;
    background-color: #90975d;
    font: normal 20px/30px 'Pretendard';
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mobileclose_btn{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; 
}
ul#mobile_loginmenu{
    width: 100%; 
    height: 50px; 
}
ul#mobile_loginmenu li{
    width: 50%; 
    height: 100%; 
    background: #74471F;
    text-align: center; 
    float: left; 
    border-right: solid 1px white; 
    box-sizing: border-box;
}
ul#mobile_loginmenu li a{
    display: block; 
    width: 100%; 
    height: 100%; 
    font: normal 16px/50px 'Pretendard';
    color: white; 
}
ul#mobile_loginmenu li:last-child{
    border-right: none;
}
ul#mobilemenu_list{
    width: 100%; 
    height: 880px; 
    background-color: white;
}
ul#mobilemenu_list>li{
    width: 100%; 
    height: 50px; 
    font: normal 16px/50px 'Pretendard'; 
    border-bottom: solid 1px #E3E3E3; 
    box-sizing: border-box; 
    text-indent: 30px; 
    position: relative; 
    left: 0px; 
    top: 0px; 
    overflow: hidden; 
    /* 서브메뉴가 안보이게 초기값 height:50px; overflow:hidden 설정 */
}       
ul#mobilemenu_list>li.selected span{  
    -webkit-transform:rotate(180deg); 
    /* 모바일메뉴 화살표 아이콘 활성화 스타일 지정 (회전) */
}
.mobile_icon{
    width: 55px; 
    height: 55px; 
    text-align: center; 
    text-indent: 0px; 
    display: block; 
    position: absolute; 
    top: 0px;
    right: 10px;  
    -webkit-transition:0.4s ease;
     /* 연속적인 모션효과 transition 지정 */
}
ul.mobilesubmenu_list{
    width: 100%; 
    position: absolute; 
    top: 50px; 
    left: 0px; 
}
ul.mobilesubmenu_list>li{
    width:100%; 
    height: 50px; 
    background:#f6f6f6; 
    font: normal 14px/50px 'Pretendard';  
    border-bottom: solid 1px #E3E3E3; 
    box-sizing: border-box; 
    text-indent: 40px; 
}
ul.mobilesubmenu_list>li:first-child{
    border-top: solid 1px #E3E3E3; 
}
div#mobile_graylayer{ 
    width: 100%; 
    height: 100%; 
    background: black; 
    opacity: 0.8; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}


/* 하단영역 */
footer{
    width: 100%;
    height: 160px;
    background-color: #74471F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_title{
    width: 147px;
    height: 30px;
    margin-left: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_title a{
    font: 500 18px/22px 'Pretendard';
    text-indent: 0px;
    color: white;
}
.footer_info{
    font: 400 14px/21px 'Pretendard';
    text-indent: 16px;
    color: white;
}

